* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Utilities */
.contrast-c {
  color: #1dd1a1;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: black;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 3rem 5rem 3rem 8rem;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
}

.right-nav a {
  padding: 0 1rem 0 2rem;
}

.logo {
  width: 8rem;
}

/* Container for sections */
.container {
  padding: 5rem 5rem 0 8rem;
  font-family: 'Poppins', sans-serif;
}

/* Intro page */
#intro {
  font-size: 1.2rem;
}

#intro h1 {
  max-width: 60rem;
  font-size: 4rem;
  margin-bottom: 1rem;
}

#intro > p {
  color: #727274;
  max-width: 50rem;
  margin-bottom: 9rem;
}

.social {
  display: flex;
  align-items: center;
  margin-bottom: 10rem;
}

.social > div {
  margin-left: 3rem;
}

.soc-icons {
  font-size: 2rem;
}

.soc-icons a {
  color: #1dd1a1;
  margin-right: 0.2rem;
}

/* Portfolio */
.grid-container {
  display: grid;
  grid-gap: 1.5rem;
}

.grid-top {
  grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr));
}

.grid-bottom {
  margin-top: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
}

#portfolio > h1 {
  margin-bottom: 3rem;
  font-size: 2rem;
}

.cover-1 {
  /* background: rgb(250, 165, 165); */
  background: url("../assets/imgs/m-traveller.png")
}

.cover-2 {
  /* background: rgb(204, 71, 71); */
  background: url("../assets/imgs/m-web-dev.jpeg")
}

.cover-3 {
  background: url("../assets/imgs/m-private-events.png")
}

.cover-4 {
  background: url("../assets/imgs/m-tnw.jpeg")
}

.cover-5 {
  background: url("../assets/imgs/m-newsweek.jpg")
}

.grid-item .cover {
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  height: 25rem;
  position: relative;
}

.cover-text {
  position: absolute;
  top: 0.5rem;
  color: #fff;
  padding: 2rem 0 0 2rem;
}

.cover-text a {
  color: white;
}

.cover-text > h3 {
  font-size: 2rem;
}

.hide {
  padding-top: 2rem;
  display: none;
}

.hide > span {
  background-color: rgba(0, 0, 0, 0.555);
  padding: 0.5rem;
}

.btn {
  display: none;
  color: #fff;
  padding: 1rem 2rem;
  background-color: #1dd1a1;
  position: absolute;
  bottom: 2rem;
  left: 2rem;
}

.cover:hover .hide {
  display: block;
}

.cover:hover .btn {
  display: inline-block;
}

.gradient {
  background: linear-gradient(rgba(0, 0, 0, 0.555), rgba(250, 250, 250, 0.1));
  width: 100%;
  height: 100%;
}
/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
